/* ***** Colors */

.colorDarkPurple {
  color: var(--color_darkPurple);
}

.colorLightPurple {
  color: var(--color_lightPurple);
}

.colorPurple {
  color: var(--color_purple);
}

.colorYellow {
  color: var(--color_yellow);
}

/* --- System */

.colorGreen {
  color: var(--color__green);
}

.colorRed {
  color: var(--color__red);
}

/* ***** Background Colors*/

.bgDarkPurple {
  color: var(--bg_darkPurple);
}

.bgLightPurple {
  color: var(--bg_lightPurple);
}

.bgPurple {
  color: var(--bg_purple);
}

.bgYellow {
  color: var(--bg_yellow);
}

/* --- System */

.bgGreen {
  color: var(--bg__green);
}

.bgRed {
  color: var(--bg__red);
}

/* --- */

.centeredText {
  text-align: center;
}