:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --gradient_up: linear-gradient(360deg,
      #1d002f 17.82%,
      rgba(29, 0, 47, 0.726869) 52.51%,
      rgba(29, 0, 47, 0) 100%);
  --gradient_down: linear-gradient(180deg,
      #1d002f 17.82%,
      rgba(29, 0, 47, 0.726869) 52.51%,
      rgba(29, 0, 47, 0) 100%);

  --color_darkPurple: #1a002e;
  --color_lightPurple: #edd6ff;
  --color_purple: #3b006a;
  --color_yellow: #ffc470;
  --color_lightYellow: #ffc977;
  --color_green: #4DC68C;
  --color_red: #F56B6B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1,
.h1 {
  font-family: "Tanker-Regular";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  font-size: var(--fsize_h1);
  line-height: 1em;
  letter-spacing: 0em;
  color: var(--color_blue);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h2,
.h2 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: var(--fsize_h2);
  line-height: 1.1em;
  letter-spacing: 0em;
  color: var(--color_blue);
  text-decoration: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: var(--fsize_h3);
  line-height: 1.3em;
  letter-spacing: 0em;
  color: var(--color_blue);
  text-decoration: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

p,
li,
p a,
.p,
.p a {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: var(--fsize_p);
  line-height: 1.4em;
  letter-spacing: 0.01em;
  color: var(--color_blue);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* ––– */

strong,
b {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  color: var(--color_blue);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* --- */

a {
  color: inherit;
  text-decoration: none;
}