.taskCreate__radio {
  background-color: #fff;
  border: 2px dotted var(--color_lightPurple);
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border-radius: 1rem;
  color: var(--color_darkPurple);
}

.taskCreate__radio__active {
  background-color: var(--color_yellow);
  border: 0.13rem solid var(--color_yellow);
}

.taskCreate__radio label {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
}