.container {
  position: relative;
  width: 100%;
  min-height: 25rem;
  box-shadow: 1px 3px 15px -7px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  padding: 3rem;
  background-image: url("/images/tinder-bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}

.decissionTriggers {
  text-align: center;
  transform: translateY(-1em);
}